{% if site.github_user %}
<section>
  <h1>Coderwall</h1>
  <a href="http://coderwall.com/{{site.github_user}}" id="coderwall"></a>
  <script type="text/javascript">
    function display_coderwall(args) {
      coderwall = $("#coderwall");
      badges = args["data"]["badges"];
      for (var i = 0, len = badges.length; i < len; i++) {
        badge = badges[i];
        img = $("<img>").attr({
          "src": badge["badge"],
          "alt": badge["description"],
          "width": 64,
          "height": 64
        });
        if (i % 3 == 0) coderwall.append("<br/>")
        coderwall.append(img);
      }
    }
  </script>
  <script src="http://coderwall.com/{{site.github_user}}.json?callback=display_coderwall"></script>
</section>
{% endif %}
